{% if setting.type_menu == "0" %}
  <style>
    #menu .dropdown-inner a {
      min-width: 0 !important;
    }
  </style>
    <nav id="menu" class="navbar">
      <div class="navbar-header"><span id="category" class="visible-xs">{{ setting.name }}</span>
        <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">

        <ul class="nav navbar-nav" style="width: 100%;">
          {% for item in menu %}
            {% if item.blocks %}
              <li class="{% if setting.display_type != '0' %}dropdown {% endif %}{{ item.class }}" data-img="{{ item.thumb }}"><a href="{{ item.link }}" class="dropdown-toggle" data-toggle="dropdown">{{ item.name }}</a>
                <div class="dropdown-menu">
                  <div class="dropdown-inner">
                      <ul class="list-unstyled" style="display: flex; flex-direction: column">
                        {% for j in 1..2 %}
                          {% if j == 1 %}
                            {% set counterStart = 1 %}
                            {% set counterEnd = 4 %}
                          {% elseif j == 2 %}
                            {% set counterStart = 5 %}
                            {% set counterEnd = 8 %}
                          {% endif %}

                          <div class="row" style="display: flex; margin: 5px 0;">
                            {% for i in counterStart..counterEnd  %}
                              <li class="col-xs-3">
                                {% if item.blocks[i] %}
                                  {% for block in item.blocks[i] %}
                                    {% if block.link_name %}

                                      <a href="{{ block.link }}">
                                        {{ block.link_name }}
                                      </a>

                                    {% elseif block.module %}

                                      {{ block.module }}

                                    {% endif %}
                                  {% endfor %}
                                {% endif %}
                              </li>
                            {% endfor %}
                          </div>
                        {% endfor %}
                      </ul>
                  </div>
                  <a href="{{ item.link }}" class="see-all">{{ text_all }} {{ item.name }}</a> </div>
              </li>
            {% else %}
              <li class="{{ item.class }}" data-img="{{ item.thumb }}"><a href="{{ item.link }}">{{ item.name }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>

      </div>
    </nav>

{% elseif setting.type_menu == "1" %}

  <style>
    .sidenav {
      height: 100%;
      z-index: 1;
      margin-bottom: 80px;
    }

    .sidenav span, button.dropdown-btn {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 20px;
      color: black;
      display: block;
      background: none;
      text-align: left;
      cursor: pointer;
      outline: none;
      border: 1px solid #e3e3e3;
      margin: 5px 0;
      width: -webkit-fill-available;
    }

    .sidenav a {
      text-decoration: none;
      color: black;
    }

    .active {
      background-color: #EEEEEE;
    }

    .sidenav .dropdown-container {
      display: none;
    }
  </style>

  {% macro list(items, step = 1) %}
    {% import _self as tree %}

    {% for item in items %}
      {% if not item.children  %}
        <span data-img="{{ item.thumb }}" class="{{ item.class }}"><a href="{{ item.link }}">{{ item.name }}</a></span>
      {% elseif item.children %}

        {% if item.link %}
          <div>
            <span>
              <a href="{{ item.link }}">{{ item.name }}</a>
              <i class="fa fa-caret-down pull-right dropdown-btn"></i>
            </span>
          </div>
        {% else %}
          <div>
            <div>
              <button type="button" data-img="{{ item.thumb }}" class="dropdown-btn {{ item.class }}">
                <a href="#" onclick="e.preventDefault()">{{ item.name }}</a>
                <i class="fa fa-caret-down pull-right"></i>
              </button>
            </div>
          </div>
        {% endif %}
        <div class="dropdown-container" style="margin-left: 20px;">
          {{ tree.list(item.children, step + 1) }}
        </div>
      {% endif %}
    {% endfor %}
  {% endmacro %}

  {% macro mobilelist(items, step = 1) %}
    {% import _self as tree %}

    {% for item in items %}
      {% if not item.children  %}
        <li class="{{ item.class }}" data-img="{{ item.thumb }}"><a href="{{ item.link }}">{{ item.name }}</a></li>
      {% elseif item.children %}

        <li class="{{ item.class }}" data-img="{{ item.thumb }}"><a href="{{ item.link }}">{{ item.name }}</a>
          <ul class="list-unstyled" style="display: flex; flex-direction: column">
            {{ tree.mobilelist(item.children, step + 1) }}
          </ul>
        </li>
      {% endif %}
    {% endfor %}
  {% endmacro %}

  <nav id="menu" class="navbar visible-xs">
    <div class="navbar-header"><span id="category" class="visible-xs">{{ setting.name }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse visible-xs">

      <ul class="nav navbar-nav" style="width: 100%;">
        {% for item in menu %}
          {% if item.children %}
            <li class="{% if setting.display_type != '0' %}dropdown {% endif %}{{ item.class }}" data-img="{{ item.thumb }}"><a href="{{ item.link }}" class="dropdown-toggle" data-toggle="dropdown">{{ item.name }}</a>
              <div class="dropdown-menu">
                <div class="dropdown-inner">
                  <ul class="list-unstyled" style="display: flex; flex-direction: column">
                    {{ _self.mobilelist(item.children) }}
                  </ul>
                </div>
            </li>
          {% else %}
            <li class="{{ item.class }}" data-img="{{ item.thumb }}"><a href="{{ item.link }}">{{ item.name }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>

    </div>
  </nav>

  <div class="sidenav hidden-xs d-none">
    {{ _self.list(menu) }}
  </div>

  <script type="text/javascript">
      var dropdown = document.getElementsByClassName("dropdown-btn");
      var i;

      for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function() {
              // this.classList.toggle("active");
              $(this).parent().parent().toggleClass("active")
              var dropdownContent = $(this).parent().parent().next();
              console.log(dropdownContent)
              if (dropdownContent.is(':visible')) {
                  dropdownContent.hide()
              } else {
                  dropdownContent.show()
              }
          });
      }
  </script>

{% elseif setting.type_menu == "2" %}

  <style>
    .sidenav-other {
      height: 100%;
      width: 100%;
      z-index: 1;
      position: relative;
    }

    .sidenav-other span, .dropdown-btn-other {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 20px;
      color: black;
      display: block;
      background: none;
      text-align: left;
      cursor: pointer;
      outline: none;
      border: 1px solid #e3e3e3;
      margin: 5px;
      width: 100%;
    }

    .dropdown-btn-other .fa {
      padding: 3px 8px;
    }

    .dropdown-arrow {
      padding: 3px 8px;
    }

    .active {
      background-color: #EEEEEE !important;
    }

    .sidenav-other .dropdown-container {
      display: none;
      position: absolute;
      border: 1px solid #e3e3e3;
      width: 555px;
      padding: 5px;
      height: fit-content;
      left: 105%;
      background-color: lightgray;
    }

    .dropdown-container-row {
      display: flex;
    }

    .dropdown-container-inner {
      min-height: 100px;
    }

    .dropdown-container-inner a {
      padding: 7px;
      color: black;
      display: block;
      background-color: whitesmoke;
      margin-bottom: 1px;
    }

    .sidenav-other .dropdown-container div {
      padding: 3px;
    }
  </style>

  <div class="sidenav-other">
    {% for item in menu %}
      {% if not item.blocks %}
        {% if item.link %}
          <span class="{{ item.class }}" data-img="{{ item.thumb }}"><a href="{{ item.link }}">{{ item.name }}</a></span>
        {% else %}
          <span class="{{ item.class }}" data-img="{{ item.thumb }}">{{ item.name }}</span>
        {% endif %}
      {% elseif item.blocks %}
        {% if item.link %}
          <span class="{{ item.class }}" data-img="{{ item.thumb }}">
            <div>
              <a href="{{ item.link }}">{{ item.name }}</a>
              <i class="fa fa-caret-right pull-right dropdown-arrow"></i>
            </div>
          </span>
        {% else %}

          <button type="button" class="dropdown-btn-other">
            {{ item.name }}
            <i class="fa fa-caret-right pull-right"></i>
          </button>

        {% endif %}

        <div class="dropdown-container" style="top: 42px;">
          {% for j in 1..2 %}
            {% if j == 1 %}
              {% set counterStart = 1 %}
              {% set counterEnd = 4 %}
            {% elseif j == 2 %}
              {% set counterStart = 5 %}
              {% set counterEnd = 8 %}
            {% endif %}
            <div class="dropdown-container-row">
            {% for i in counterStart..counterEnd  %}

                <div class="col-sm-4">
                  <div class="dropdown-container-inner">
                    {% if item.blocks[i] %}
                      {% for block in item.blocks[i] %}
                        {% if block.link_name %}
                          <a href="{{ block.link }}">
                            {{ block.link_name }}
                          </a>
                        {% elseif block.module %}

                          {{ block.module }}

                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>

            {% endfor %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      </li>
    {% endfor %}
  </div>

  <script type="text/javascript">
      var dropdownOther = document.getElementsByClassName("dropdown-arrow");
      var j;

      for (j = 0; j < dropdownOther.length; j++) {
          let temp = j;
          dropdownOther[j].addEventListener("click", function() {
              let span = $(this).parents('span')

              var dropdownContent = span.next();
              if ($(dropdownContent).is(":visible")) {
                  dropdownContent.hide()
              } else {
                  $('.dropdown-container').each(function (i, item) {
                      $(item).hide()
                  })
                  $('.dropdown-btn-other').each(function (i, item) {
                      $(item).removeClass('active')
                  })
                  $('.dropdown-arrow').each(function (i, item) {
                      $(item).parents('span').removeClass('active')
                  })
                  dropdownContent.show()
                  // hide other blocks
              }
              span.toggleClass('active')
          });
      }

      var dropdown = document.getElementsByClassName("dropdown-btn-other");
      for (let k = 0; k < dropdown.length; k++) {
          let temp = k;
          dropdown[k].addEventListener("click", function() {

              var dropdownContent = this.nextElementSibling;
              if (dropdownContent.style.display === "block") {
                  dropdownContent.style.display = "none";
              } else {
                  $('.dropdown-container').each(function (i, item) {
                      $(item).hide()
                  })
                  $('.dropdown-btn-other').each(function (i, item) {
                      $(item).removeClass('active')
                  })
                  $('.dropdown-arrow').each(function (i, item) {
                      $(item).parents('span').removeClass('active')
                  })
                  dropdownContent.style.display = "block";
                  // hide other blocks
              }
              this.classList.toggle("active");
          });
      }
  </script>

{% endif %}