{{ header }}
<style>
  .sidenav {
    height: 100%;
    z-index: 1;
    margin-bottom: 80px;
  }

  .sidenav span, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    border: 1px solid #e3e3e3;
    margin: 5px;
    width: -webkit-fill-available;
  }

  .sidenav-other {
    height: 100%;
    width: 50%;
    z-index: 1;
    position: relative;
  }

  .sidenav-other span, .dropdown-btn-other {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    border: 1px solid #e3e3e3;
    margin: 5px;
    width: 290px;
  }

  .main {
    margin-left: 200px;
    font-size: 20px;
    padding: 0 10px;
  }

  .active-item {
    background-color: #EEEEEE;
  }

  .sidenav .dropdown-container {
    display: none;
    margin-left: 40px;
  }

  .sidenav-other .dropdown-container {
    display: none;
    position: absolute;
    left: 50%;
    border: 1px solid #e3e3e3;
    width: 97%;
    padding: 5px;
  }

  .sidenav-other .dropdown-container div {
    height: 70px;
    padding: 3px;
  }

  .sidenav-other .dropdown-container div a {
    color: black;
    border: 1px solid #e3e3e3;
    display: block;
    height: 100%;
    margin: 0;
  }

  <!-- ----------------- HORIZONTAL MENU -------------------------- -->

  .horizontal-menu {
    width: 100%;
    margin: 0 auto 30px;
  }
  .horizontal-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .topmenu {
    position: relative;
  }
  .topmenu > li {
    display: inline-block;
    position: static;
  }
  .topmenu > li:last-child {
    margin-right: 0;
  }
  .horizontal-menu a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    outline: none;
    transition: .5s linear;
  }
  .horizontal-menu .fa {
    color: inherit;
    padding-left: 10px;
  }
  .submenu {
    position: absolute;
    top: 115%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    background-color: #e6e6e6;
  }
  .submenu > li > a {
    background-color: #fff;
    height: 100px;
  }
  .horizontal-menu .topmenu li {
    border: 1px solid #e3e3e3;
    padding: 0 60px;
  }
  .horizontal-menu ul a {
    color: #695753;
  }
  .horizontal-menu .submenu li {
    padding: 3px 7px;
    border: none;
  }

  .menu-block .btn {
    margin: 2px;
  }
  .menu-item-btn {
    padding: 6px 40px;
    background-color: #4DD9FF;
    color: white;
    border: none;
    font-size: 16px;
    white-space: nowrap;
  }
  .menu-list {
    list-style-type: none;
    padding: 0;
    font-size: 15px;
  }
  .menu-list-item {
    padding: 3px;
    padding-left: 15px;
    border-radius: 3px;
    border: 2px solid #d9d9d9;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-list-item__inner {

  }
  .menu-list-item div {
    min-width: fit-content;
  }
  .menu-item-inner-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #e3e3e3;
    margin-bottom: 10px;
  }
  .menu-item-inner-block button {
    margin: 15px;
    padding: 6px;
    width: 80%;
  }
  .menu-item-inner-block_added {
    border: 1px solid #e3e3e3;
    margin-bottom: 10px;
    height: 130px;
    padding: 8px;
    position: relative;
  }
  .menu-item-inner-block_added p {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    font-size: 15px;
    line-height: 19px;

  }
  .menu-item-inner-block_added .menu-item-inner-block_added__buttons {
    position: absolute;
    bottom: 8px;
    right: 8px;
  }
  .select-link-item, .add-edit-menu-item, .add-edit-module-item, .added-menu-item-menu, .added-menu-item-module {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
  .inner-blocks-placeholder {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 16px;
  }
  .inner-block-added-content {
    text-align: center;
  }
</style>
{{ column_left }}

{% macro list(items, step = 0) %}
  {% import _self as tree %}

    {% for item in items %}
      <li class="menu-list-item" style="margin-left: {{ step * 25 }}px;">
        <span class="menu-list-item__inner">{{ item.name }}</span>
        <div>
          <button type="button" data-menu-item-id="{{ item.menu_item_id }}" class="btn btn-primary edit-menu-item"><i class="fa fa-pencil"></i></button>
          <button type="button" data-menu-item-id="{{ item.menu_item_id }}" class="btn btn-danger delete-menu-item"><i class="fa fa-trash"></i></button>
        </div>
        {% if item.children %}
          {{ tree.list(item.children, step + 1) }}
        {% endif %}
      </li>
    {% endfor %}
{% endmacro %}

{% macro category_list(items, addCategoryBtn, step = 0) %}
  {% import _self as tree %}

  {% for item in items %}
    <div class="{% if addCategoryBtn %}add-edit-menu-item{% else %}select-link-item{% endif %}" data-category-id="{{ item.id }}">
      <span style="margin-left: {{ step * 30 }}px;">{{ item.name }}</span>
      <input type="hidden" value="{{ item.link }}">
      <button class="btn btn-primary {% if addCategoryBtn %}add-category-btn{% endif %}"><i class="fa fa-plus"></i></button>
    </div>
    {% if item.children %}
      {{ tree.category_list(item.children, addCategoryBtn, step + 1) }}
    {% endif %}
  {% endfor %}
{% endmacro %}

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_menu_type }}</label>
            <div class="col-sm-10">
              {% if type_menu == '0' %}
                <div id="horizontal-border" style="width: 100%; border: 1px solid #e3e3e3; height: 350px;">
                  <nav class="horizontal-menu">
                    <ul class="topmenu">
                      <li><a href="#">{{ text_main }}</a></li>
                      <li><a href="#">{{ text_product_catalog }} <i class="fa fa-angle-down"></i></a>
                        <ul class="submenu">
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="#">{{ text_link_classmates }}</a></li>
                      <li><a href="#">{{ text_articles }} <i class="fa fa-angle-down"></i></a>
                        <ul class="submenu">
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="#">{{ text_contacts }}</a></li>
                    </ul>
                  </nav>
                </div>
              {% elseif type_menu == '1' %}
                <div id="vertical1-border" style="width: 100%; border: 1px solid #e3e3e3; min-height: 350px; height: 100%;">
                  <div class="sidenav">
                    <span>{{ text_main }}</span>
                    <button type="button" class="dropdown-btn">
                      {{ text_product_catalog }}
                      <i class="fa fa-caret-down pull-right"></i>
                    </button>
                    <div class="dropdown-container">
                      <span>{{ text_tools }}</span>
                      <span>{{ text_tea_products }}</span>
                    </div>
                    <span>{{ text_link_classmates }}</span>
                    <button type="button" class="dropdown-btn">
                      {{ text_articles }}
                      <i class="fa fa-caret-down pull-right"></i>
                    </button>
                    <div class="dropdown-container">
                      <span>{{ text_article_1 }}</span>
                      <span>{{ text_article_2 }}</span>
                      <span>{{ text_article_3 }}</span>
                    </div>
                    <span>{{ text_contacts }}</span>
                  </div>
                </div>
              {% elseif type_menu == '2' %}
                <div id="vertical2-border" style="width: 100%; border: 1px solid #e3e3e3; height: 350px;">
                  <div class="sidenav-other">
                    <span>{{ text_main }}</span>
                    <button type="button" class="dropdown-btn-other">
                      {{ text_product_catalog }}
                      <i class="fa fa-caret-right pull-right"></i>
                    </button>
                    <div class="dropdown-container" style="top: 42px;">
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                    </div>
                    <span>{{ text_link_classmates }}</span>
                    <button type="button" class="dropdown-btn-other">
                      {{ text_articles }}
                      <i class="fa fa-caret-right pull-right"></i>
                    </button>
                    <div class="dropdown-container" style="top: 84px;">
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                    </div>
                    <span>{{ text_contacts }}</span>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-display_type">{{ entry_display_type }}</label>
            <div class="col-sm-10">
              <select name="display_type" id="input-display_type" class="form-control">
                {% if display_type %}
                  <option value="0">{{ text_onclick }}</option>
                  <option value="1" selected="selected">{{ text_onhover }}</option>
                {% else %}
                  <option value="0" selected="selected">{{ text_onclick }}</option>
                  <option value="1">{{ text_onhover }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <div class="menu-block">
                <button type="button" id="create-menu-item" class="menu-item-btn">{{ button_create_menu_item }}</button>
                <ul class="menu-list">
                  {{ _self.list(menu_items) }}
                </ul>
              </div>
            </div>
            <div class="col-sm-9 create-menu-form" style="display: none;">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">{{ text_settings_menu_item }}</h4>
                </div>
                <div class="panel-body">

                  <ul class="nav nav-tabs" id="language">
                    {% for language in languages %}
                      <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/> {{ language.name }}</a></li>
                    {% endfor %}
                  </ul>
                  <div class="tab-content">
                    {% for language in languages %}
                      <div class="tab-pane" id="language{{ language.language_id }}">
                        <div class="form-group" {% if type_menu != '1' %}style="display: none"{% endif %}>
                          <label class="col-sm-2 control-label" for="input-menu_item_parent{{ language.language_id }}">{{ entry_parent_item }}</label>
                          <div class="col-sm-10">
                            <select name="menu_item[{{ language.language_id }}][parent_id]" id="input-menu_item_parent{{ language.language_id }}" class="form-control select_parent_id">
                              <option value="0">{{ text_no }}</option>
                              {% if select_items %}
                                {% for select_item in select_items %}
                                  <option value="{{ select_item.id }}">{{ select_item.name }}</option>
                                {% endfor %}
                              {% endif %}
                            </select>
                          </div>
                        </div>
                        <div class="form-group required">
                          <label class="col-sm-2 control-label" for="input-name{{ language.language_id }}">{{ entry_name_item }}</label>
                          <div class="col-sm-10">
                            <input type="text" name="menu_item[{{ language.language_id }}][name]" value="{{ menu_item[language.language_id] ? menu_item[language.language_id].name }}" placeholder="{{ entry_name_item }}" id="input-name{{ language.language_id }}" class="form-control"/>
                            {% if error_name[language.language_id] %}
                              <div class="text-danger">{{ error_name[language.language_id] }}</div>
                            {% endif %}
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 control-label" for="input-menu-item-link{{ language.language_id }}">{{ entry_link }}</label>
                          <div class="col-sm-7">
                            <input type="text" name="menu_item[{{ language.language_id }}][link]" value="{{ menu_item[language.language_id] ? menu_item[language.language_id].link }}" placeholder="{{ entry_link }}" id="input-menu-item-link{{ language.language_id }}" class="form-control"/>
                            {% if error_meta_title[language.language_id] %}
                              <div class="text-danger">{{ error_meta_title[language.language_id] }}</div>
                            {% endif %}
                          </div>
                          <div class="col-sm-3">
                            <button type="button" class="menu-item-btn" data-toggle="modal" data-target=".select-link-modal">{{ button_select_link }}</button>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 control-label" for="input-menu-item-class{{ language.language_id }}">{{ entry_class_item }}</label>
                          <div class="col-sm-10">
                            <input type="text" name="menu_item[{{ language.language_id }}][class]" value="{{ menu_item[language.language_id] ? menu_item[language.language_id].class }}" placeholder="{{ entry_class_item }}" id="input-menu-item-class{{ language.language_id }}" class="form-control"/>
                            {% if error_meta_title[language.language_id] %}
                              <div class="text-danger">{{ error_meta_title[language.language_id] }}</div>
                            {% endif %}
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}">{{ entry_img_item }}</label>
                          <div class="col-sm-10">
                            <a href="" id="thumb-image{{ language.language_id }}" data-toggle="image" class="img-thumbnail">
                              <img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}"/>
                            </a>
                            <input type="hidden" name="menu_item[{{ language.language_id }}][image]" value="{{ image }}" id="input-image{{ language.language_id }}"/>
                          </div>
                        </div>

                        {% if type_menu != '1' %}

                          <div class="inner-blocks-placeholder" id="inner-blocks-placeholder{{ language.language_id }}">
                            {{text_create_menu_item_before_add_blocks}}
                          </div>

                          <div class="panel panel-default inner-blocks" id="inner-blocks-panel{{ language.language_id }}" style="display: none;">
                            <div class="panel-heading">
                              <h4 class="panel-title">{{ text_inner_menu_item }}</h4>
                            </div>
                            <div class="panel-body">

                              <div class="tab-content">

                              </div>

                            </div>
                          </div>
                        {% endif %}

                        <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
                          <button class="menu-item-btn save-menu-item" id="save-menu-item-btn{{ language.language_id }}" type="button" form="menu-item-form">
                            {{ button_save }}
                          </button>
                        </div>

                      </div>
                      {% endfor %}
                    </div>

                </div>
              </div>

            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade select-link-modal" tabindex="-1" role="dialog" aria-labelledby="selectLinkModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">{{ text_select_link }}</h4>
          </div>
          <div class="panel-body">

            <ul class="nav nav-tabs" id="select-link-tabs">
              <li><a href="#select-link-categories" data-toggle="tab">{{ text_categories }}</a></li>
              <li><a href="#select-link-articles" data-toggle="tab">{{ text_articles }}</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane" id="select-link-categories">
                {{ _self.category_list(categories, 0) }}
              </div>
              <div class="tab-pane" id="select-link-articles">
                {% for information in informations %}
                  <div class="select-link-item" data-article-id="{{ information.information_id }}">
                    <span>{{ information.title }}</span>
                    <input type="hidden" value="{{ information.link }}">
                    <button class="btn btn-primary"><i class="fa fa-plus"></i></button>
                  </div>
                {% endfor %}
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade add-edit-menu-modal" tabindex="-1" role="dialog" aria-labelledby="selectLinkModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">{{ text_add_edit_block }}</h4>
          </div>
          <div class="panel-body">

            <div class="col-sm-8">
              <ul class="nav nav-tabs" id="add-edit-menu-tabs">
                <li><a href="#add-edit-block-articles" data-toggle="tab">{{ text_articles }}</a></li>
                <li><a href="#add-edit-block-categories" data-toggle="tab">{{ text_categories }}</a></li>
                <li><a href="#add-edit-block-external-link" data-toggle="tab">{{ text_external_link }}</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane" id="add-edit-block-articles">
                  {% for information in informations %}
                    <div class="add-edit-menu-item">
                      <span>{{ information.title }}</span>
                      <button class="btn btn-primary add-article-btn" data-article-id="{{ information.information_id }}"><i class="fa fa-plus"></i></button>
                    </div>
                  {% endfor %}
                </div>
                <div class="tab-pane" id="add-edit-block-categories">
                  {{ _self.category_list(categories, 1) }}
                </div>
                <div class="tab-pane" id="add-edit-block-external-link">
                  <div class="form-group">
                    <label class="control-label" for="input-name">{{ entry_name_menu_item }}</label>
                    <input type="text" name="external_link_name" value="" placeholder="{{ entry_name_menu_item }}" id="input-menu-item-name" class="form-control" />
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="input-name">{{ entry_link_menu_item }}</label>
                    <input type="text" name="external_link" value="" placeholder="{{ entry_link_menu_item}}" id="input-menu-item-link" class="form-control" />
                  </div>
                  <div class="add-edit-menu-item-external-link" style="display: flex; justify-content:center;">
                    <button type="button" class="btn menu-item-btn add-external-link-btn">{{button_add_item}}</button>
                  </div>
                </div>
              </div>
            </div>

            {# RIGHT SIDE ADD-EDIT-BLOCK POPUP #}
            <div class="col-sm-4">
              <div class="inner-block-added-content">
                <span>{{ text_added_in_block }}</span>
                <hr>
{#                <div class="form-group">#}
{#                  <input type="text" placeholder="Введите заголовок блока" name="added-in-block" class="form-control">#}
{#                </div>#}
                <div class="inner-block-added-content-list">

                </div>
              </div>
            </div>

          </div>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ button_close }}</button>
        </div>
      </div>

    </div>
  </div>

  <div class="modal fade add-edit-module-modal" tabindex="-1" role="dialog" aria-labelledby="selectLinkModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">{{ text_add_edit_block }}</h4>
          </div>
          <div class="panel-body">

            <div class="col-sm-8">
              <ul class="nav nav-tabs" id="add-edit-module-tabs">
                <li><a href="#add-edit-module-list" data-toggle="tab">{{ text_modules }}</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane" id="add-edit-module-list">
                  {% if extensions %}
                  {% for extension in extensions %}

                    <div class="add-edit-module-item">
                      <span>{{ extension.name }}</span>
                      {% if not extension.module %}
                        <button class="btn btn-primary add-module-btn" data-module-code="{{ extension.code }}"><i class="fa fa-plus"></i></button>
                      {% endif %}
                    </div>

                    {% for module in extension.module %}

                      <div class="add-edit-module-item">
                        <span style="margin-left: 30px;">{{ module.name }}</span>
                        <button class="btn btn-primary add-module-btn" data-module-code="{{ module.code }}"><i class="fa fa-plus"></i></button>
                      </div>

                    {% endfor %}

                  {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>

            {# RIGHT SIDE ADD-EDIT-BLOCK POPUP #}
            <div class="col-sm-4">
              <div class="inner-block-added-content">
                <span>{{ text_added_in_block }}</span>
                <hr>
{#                <div class="form-group">#}
{#                  <input type="text" placeholder="Введите заголовок блока" name="added-in-block" class="form-control">#}
{#                </div>#}
                <div class="inner-block-added-content-list">

                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ button_close }}</button>
        </div>

      </div>
    </div>
  </div>

  <script type="text/javascript">
  $(document).ready(function () {
    function clickAddBlock() {
        $('.menu-item-inner-block button, .menu-item-inner-block_added .edit-block').on('click', function () {
            let saveBtn = $(this).parents('.tab-pane').find('.save-menu-item')
            let blockId = $(this).parent().attr('data-block-id')
            let menuItemId = $(saveBtn).attr('data-menu-item-id')
            let targetSelector = $(this).data('target')
            $(targetSelector).find('.btn').attr('data-menu-item-id', menuItemId)
            $(targetSelector).find('.btn').attr('data-block-id', blockId)
            let blocksList = $(targetSelector).find('.inner-block-added-content-list')
            getMenuItemBlock(menuItemId, blockId, blocksList)
        })
    }

      $('.add-edit-module-item .add-module-btn').on('click', function () {
          let menuItemId = $(this).attr('data-menu-item-id')
          let blockId    = $(this).attr('data-block-id')
          let moduleCode = $(this).attr('data-module-code')
          let blocksList = $(this).parent().parent().parent().parent().parent().find('.inner-block-added-content-list')
          $.ajax({
              type: "GET",
              url: "index.php?route=extension/module/custom_menu_nik/addMenuItemBlock&user_token={{ user_token }}&menu_item_id=" + menuItemId + "&block_id=" + blockId + "&module_code=" + moduleCode,
              success: function (res) {
                  getMenuItemBlock(menuItemId, blockId ,blocksList)
                {% for language in languages %}
                  getBlocksInnerMenuItem(menuItemId, {{ language.language_id }} )
                {% endfor %}
              }
          })
      })

    $('.add-edit-menu-item .add-article-btn').on('click', function () {
        let menuItemId = $(this).attr('data-menu-item-id')
        let blockId    = $(this).attr('data-block-id')
        let articleId  = $(this).attr('data-article-id')
        let blocksList = $(this).parent().parent().parent().parent().parent().find('.inner-block-added-content-list')
        $.ajax({
            type: "GET",
            url: "index.php?route=extension/module/custom_menu_nik/addMenuItemBlock&user_token={{ user_token }}&menu_item_id=" + menuItemId + "&block_id=" + blockId + "&article_id=" + articleId,
            success: function (res) {
                getMenuItemBlock(menuItemId, blockId ,blocksList)
                {% for language in languages %}
                  getBlocksInnerMenuItem(menuItemId, {{ language.language_id }} )
                {% endfor %}
            }
        })
    })

    $('.add-edit-menu-item .add-category-btn').on('click', function () {
        let menuItemId = $(this).attr('data-menu-item-id')
        let blockId    = $(this).attr('data-block-id')
        let categoryId = $(this).parent().attr('data-category-id')
        let blocksList = $(this).parent().parent().parent().parent().parent().find('.inner-block-added-content-list')
        $.ajax({
            type: "GET",
            url: "index.php?route=extension/module/custom_menu_nik/addMenuItemBlock&user_token={{ user_token }}&menu_item_id=" + menuItemId + "&block_id=" + blockId + "&category_id=" + categoryId,
            success: function (res) {
                getMenuItemBlock(menuItemId, blockId ,blocksList)
              {% for language in languages %}
                getBlocksInnerMenuItem(menuItemId, {{ language.language_id }} )
              {% endfor %}
            }
        })
    })

    $('.add-edit-menu-item-external-link .add-external-link-btn').on('click', function () {
        let menuItemId = $(this).attr('data-menu-item-id')
        let blockId    = $(this).attr('data-block-id')
        let externalLinkName = $(this).parent().parent().find('input[name="external_link_name"]')
        let externalLink = $(this).parent().parent().find('input[name="external_link"]')
        let blocksList = $(this).parent().parent().parent().parent().parent().find('.inner-block-added-content-list')
        $.ajax({
            type: "GET",
            url: "index.php?route=extension/module/custom_menu_nik/addMenuItemBlock&user_token={{ user_token }}&menu_item_id=" + menuItemId + "&block_id=" + blockId + "&link_name=" + externalLinkName.val() + "&link=" + externalLink.val(),
            success: function (res) {
                externalLinkName.val('')
                externalLink.val('')
                getMenuItemBlock(menuItemId, blockId ,blocksList)
                {% for language in languages %}
                  getBlocksInnerMenuItem(menuItemId, {{ language.language_id }} )
                {% endfor %}
            }
        })
    })

    function getMenuItemBlock(menuItemId, blockId, target) {
        $.ajax({
            type: "GET",
            url: "index.php?route=extension/module/custom_menu_nik/getMenuItemBlock&user_token={{ user_token }}&menu_item_id=" + menuItemId + "&block_id=" + blockId,
            success: function (res) {
                $(target).html(HtmlMenuItemBlock(res))
                deleteBlockItem(menuItemId, blockId)
            }
        })
    }

    function HtmlMenuItemBlock(blocks) {
        let html = '';
        for (let i = 0; i < blocks.length; i++) {
            if(blocks[i].ext_name) {
                html += '<div class="added-menu-item-menu">' +
                            '<span>' + blocks[i].ext_name +'</span>' +
                        '</div>'

                html += '<div class="added-menu-item-menu" data-block-item-id="' + blocks[i].id + '">' +
                            '<span style="margin-left: 30px;">' + blocks[i].name +'</span>' +
                            '<button class="btn btn-danger delete-block-item-btn" type="button"><i class="fa fa-trash"></i></button>' +
                        '</div>'
            } else {
                html += '<div class="added-menu-item-menu" data-block-item-id="' + blocks[i].id + '">' +
                            '<span>' + blocks[i].name +'</span>' +
                            '<button class="btn btn-danger delete-block-item-btn" type="button"><i class="fa fa-trash"></i></button>' +
                        '</div>'
            }
        }
        return html;
    }

    function HtmlMenuItemSettingBlocks(blocks) {
        let html = '';
        for (let i = 1; i <= 8; i++) {

            if(blocks[i]) {
                let blockName
                let blockTarget
                if(!blocks[i][0].module_code) {
                    blockName = '           <p>{{ text_menu_items }}</p>';
                    blockTarget = '.add-edit-menu-modal';
                }
                else {
                    blockName = '           <p>{{ text_module}} ';
                    for (let j = 0; j < blocks[i].length; j++) {
                        if(blocks[i][j].ext_name) {
                            if(j < blocks[i].length-1) {
                                blockName += (blocks[i][j].ext_name + ', ')
                            } else {
                                blockName += blocks[i][j].ext_name
                            }
                        }
                    }
                    blockName += '</p>';
                    blockTarget = '.add-edit-module-modal';
                }

                html += '<div class="col-sm-3">' +
                    '       <div class="menu-item-inner-block_added">' +
                    '           <p>{{text_block_data}}:</p>';

                html += blockName;

                html +=    '           <div class="menu-item-inner-block_added__buttons" data-block-id="' + i + '">' +
                    '               <button type="button" data-toggle="modal" data-target="' + blockTarget + '" class="btn btn-primary edit-block"><i class="fa fa-pencil"></i></button>' +
                    '               <button type="button" class="btn btn-danger delete-block-inner-menu-item"><i class="fa fa-trash"></i></button>' +
                    '           </div>' +
                    '       </div>' +
                    '    </div>';
            } else {
                html += '<div class="col-sm-3">' +
                    '       <div class="menu-item-inner-block" data-language-id="" data-block-id="' + i + '">' +
                    '           <button type="button" data-toggle="modal" data-target=".add-edit-menu-modal" class="menu-item-btn">{{ button_add_menu }}</button>' +
                    '           <button type="button" data-toggle="modal" data-target=".add-edit-module-modal" class="menu-item-btn">{{ button_add_module }}</button>' +
                    '       </div>' +
                    '    </div>';
            }
        }

        return html;
    }

    // Удалить блок в настройках пункта меню
    function deleteBlockMenuItem() {
        $('.delete-block-inner-menu-item').unbind('click');
        $('.delete-block-inner-menu-item').on('click', function () {
            if(confirm('{{ confirm_delete_block }}')) {
                let blockId = $(this).parent().attr('data-block-id')
                let target =  $(this).parents('.col-sm-3');
                $.ajax({
                    type: "GET",
                    url: "index.php?route=extension/module/custom_menu_nik/deleteMenuItemBlocks&user_token={{ user_token }}&block_id=" + blockId,
                    success: function (res) {
                        $(target).replaceWith(deleteBlockMenuItemHtml(blockId))
                        clickAddBlock()
                    }
                })
            }
        })
    }

    function deleteBlockMenuItemHtml(blockId) {
        return '<div class="col-sm-3">' +
        '       <div class="menu-item-inner-block" data-language-id="" data-block-id="' + blockId + '">' +
        '           <button type="button" data-toggle="modal" data-target=".add-edit-menu-modal" class="menu-item-btn">{{ button_add_menu }}</button>' +
        '           <button type="button" data-toggle="modal" data-target=".add-edit-module-modal" class="menu-item-btn">{{ button_add_module }}</button>' +
        '       </div>' +
        '    </div>';
    }

    // Удалить пункт блока при добавлении/редактировании
    function deleteBlockItem(menuItemId, blockId) {
      $('.delete-block-item-btn').unbind('click');
      $('.delete-block-item-btn').on('click', function () {
          if(confirm('{{ confirm_delete_block_item }}')) {
              let blockItemId = $(this).parent().data('block-item-id')
              let target = $(this).parents('.inner-block-added-content-list')
              $.ajax({
                  type: "GET",
                  url: "index.php?route=extension/module/custom_menu_nik/deleteMenuItemBlock&user_token={{ user_token }}&menu_item_block_id=" + blockItemId,
                  success: function (res) {
                      // TODO: get menuItemId, blockId (have), target
                      getMenuItemBlock(menuItemId, blockId, target)
                      {% for language in languages %}
                        getBlocksInnerMenuItem(menuItemId, {{ language.language_id }} )
                      {% endfor %}
                  }
              })
          }
      })
    }

    deleteMenuItem();
    function deleteMenuItem() {
        $('.delete-menu-item').unbind('click');
        $('.delete-menu-item').on('click', function (e) {
            if(confirm('{{ confirm_delete_menu_item }}')) {
                $.ajax({
                    type: "POST",
                    url: "index.php?route=extension/module/custom_menu_nik/deleteMenuItem&user_token={{ user_token }}&menu_item_id=" + $(this).data('menu-item-id'),
                    success: function (res) {
                        getMenuItems()
                        getSelectItems()
                    }
                })
            }
        })
    }

    editMenuItem()
    function editMenuItem() {
        $('.edit-menu-item').unbind('click');
        $('.edit-menu-item').on('click', function (e) {
            let menuItemId = $(this).data('menu-item-id')
            $.ajax({
                type: "GET",
                url: "index.php?route=extension/module/custom_menu_nik/getMenuItem&user_token={{ user_token }}&menu_item_id=" + menuItemId + "&module_id={{ module_id }}",
                success: function (res) {
                    let selectItemsKeys = Object.keys(res['menu_items'])
                    for (let a = 0; a < selectItemsKeys.length; a++) {
                        let selectItemsArr = res['menu_items'][selectItemsKeys[a]]
                        let html = selectList(selectItemsArr);
                        $( ":input[name='menu_item[" + selectItemsKeys[a] + "][parent_id]']" ).html(html)
                    }

                    let keys = Object.keys(res);
                    for (let i = 0; i < keys.length; i++) {
                        let menuItemKeys = Object.keys(res[keys[i]]);
                        for (let j = 0; j < menuItemKeys.length; j++) {
                            if(res[keys[i]]['language_id']) {
                                let el = $( ":input[name='menu_item[" + res[keys[i]]['language_id'] + "][" + menuItemKeys[j] + "]']" )
                                if(el.length) {
                                    el.val(res[keys[i]][menuItemKeys[j]])
                                }
                            }
                        }
                        $('#thumb-image' + res[keys[i]]['language_id'] + ' img').attr('src', res[keys[i]]['thumb'])
                        $('.save-menu-item').each(function (i, item) {
                            $(item).attr('data-menu-item-id', menuItemId)
                        })
                        // $('#save-menu-item-btn' + res[keys[i]]['language_id'])
                        $('#inner-blocks-placeholder' + res[keys[i]]['language_id']).hide()
                        $('#inner-blocks-panel' + res[keys[i]]['language_id']).show()

                        let htmlBlocks = HtmlMenuItemSettingBlocks(res['menu_items_blocks']);
                        $('#inner-blocks-panel' + res[keys[i]]['language_id']).find('.tab-content').html(htmlBlocks)
                    }

                    clickAddBlock()
                    deleteBlockMenuItem()

                    $('.create-menu-form').show();
                }
            })
        })
    }

    function getBlocksInnerMenuItem(menuItemId, languageId) {
        $.ajax({
            type: "GET",
            url: "index.php?route=extension/module/custom_menu_nik/getMenuItemBlocks&user_token={{ user_token }}&menu_item_id=" + menuItemId,
            success: function (res) {
                let htmlBlocks = HtmlMenuItemSettingBlocks(res);
                $('#inner-blocks-panel' + languageId).find('.tab-content').html(htmlBlocks)

                clickAddBlock()
                deleteBlockMenuItem()
            }
        })
    }

    $('.save-menu-item').on('click', function (e) {
        console.log($( ":input[name*='menu_item']" ).serializeArray())
        if(!$(this).attr('data-menu-item-id')) { // add menu item
            $.ajax({
                type: "POST",
                dataType: 'html',
                data: $( ":input[name*='menu_item']" ).serialize(),
                url: 'index.php?route=extension/module/custom_menu_nik/addMenuItems&module_id={{ module_id }}&user_token={{ user_token }}',
                success: function (res) {
                    getMenuItems()
                    getSelectItems()
                    clearFields();
                    $('.create-menu-form').hide()
                }
            })
        } else { // edit menu item
            $.ajax({
                type: "POST",
                dataType: 'html',
                data: $( ":input[name*='menu_item']" ).serialize(),
                url: 'index.php?route=extension/module/custom_menu_nik/editMenuItem&user_token={{ user_token }}&menu_item_id=' + $(this).attr('data-menu-item-id'),
                success: function (res) {
                    getMenuItems()
                    getSelectItems()
                    clearFields();
                    $('.create-menu-form').hide()
                }
            })
        }
    })

    function clearFields() {
        $( ":input[name*='menu_item']" ).each(function (i, item) {
            if($(item).is('select')) {
                $(item).find('option[value="0"]').prop('selected', true)
            } else {
                $(item).val('')
            }
        })
        // CLEARING IMG THUMB AFTER SAVING
        $('.img-thumbnail').each(function (i, item) {
            let imgThumb = $(item).find('img');
            let imgPlaceholder = imgThumb.data('placeholder')
            imgThumb.attr('src', imgPlaceholder)
        })
        $('.save-menu-item').removeAttr('data-menu-item-id')
    }

    async function getSelectItems() {
        let html = '';
        $.ajax({
            type: "GET",
            url: "index.php?route=extension/module/custom_menu_nik/getSelectItems&module_id={{ module_id }}&user_token={{ user_token }}",
            success: function (res) {
                let selectItemsKeys = Object.keys(res)
                for (let a = 0; a < selectItemsKeys.length; a++) {
                    let selectItemsArr = res[selectItemsKeys[a]]
                    let html = selectList(selectItemsArr);
                    $( ":input[name='menu_item[" + selectItemsKeys[a] + "][parent_id]']" ).html(html)
                }

            }
        })
    }

    function selectList(arr) {
        let html = '<option value="0">{{ text_no }}</option>';
        for(let i = 0; i < arr.length; i++) {
            html += '<option value="'+ arr[i].menu_item_id +'">'+ arr[i].name +'</option>';
        }

        return html;
    }

    function getMenuItems() {
        let html = '';
        $.ajax({
            type: "GET",
            url: "index.php?route=extension/module/custom_menu_nik/getMenuItems&module_id={{ module_id }}&user_token={{ user_token }}",
            success: function (res) {
                html = menuList(res);
                $('.menu-list').html(html);
                deleteMenuItem()
                editMenuItem()
            }
        })
    }

    function menuList(arr, step = 0) {
        let branch = '';
        for(let i = 0; i < arr.length; i++) {
            branch += '<li class="menu-list-item" style="margin-left: ' + (step * 25) + 'px;">' +
                '<span class="menu-list-item__inner">' + arr[i].name + '</span>' +
                '<div>' +
                '<button type="button" data-menu-item-id="' + arr[i].menu_item_id +'" class="btn btn-primary edit-menu-item"><i class="fa fa-pencil"></i></button>' +
                '<button type="button" data-menu-item-id="' + arr[i].menu_item_id +'" class="btn btn-danger delete-menu-item"><i class="fa fa-trash"></i></button>' +
            '</div>';
            if(arr[i].children) {
              branch += menuList(arr[i].children, step + 1);
            }

            branch += '</li>';
        }
        return branch;
    }

    $('#create-menu-item').on('click', function () {
      getSelectItems()
      clearFields()
      $('.save-menu-item').each(function (i, item) {
        $(item).data('menu-item-id', false)
      })
      $('.inner-blocks').hide();
      $('.inner-blocks-placeholder').show();
      $('.create-menu-form').show();
    })

    $('.select-link-item button').on('click', function () {
      let link = $(this).prev().val();
      let activeTabId = '#language1';
      $('#language li').each(function (index, item) {
        if($(item).hasClass('active')) {
            activeTabId = $(item).find('a').attr('href')
        }
      })
      let languageId = activeTabId.slice(-1)
      $(activeTabId).find('#input-menu-item-link' + languageId).val(link)
      $('.select-link-modal').modal('hide')
    })
  })

  $(".horizontal-menu li ul").hide(); // скрываем выпадающее меню
  /* отбираем элемент списка, который содержит элемент с классом .submenu и добавляем ему функцию при наведении, которая показывает и скрывает выпадающее меню */
  $(".horizontal-menu li:has('.submenu')").on('click', function(e){
      e.preventDefault();
      let submenus = $('.submenu');
      for (let t = 0; t < submenus.length; t++) {
          if($(this).find('ul.submenu')[0] !== submenus[t]) {
              submenus[t].style.display = 'none';
              submenus[t].parentNode.classList.remove('active-item')
          }
      }
      $(this).toggleClass('active-item')
      $(this).find('ul.submenu').toggle();

  });

  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;

  for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function() {
          this.classList.toggle("active-item");
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
              dropdownContent.style.display = "none";
          } else {
              dropdownContent.style.display = "block";
          }
      });
  }

  var dropdownOther = document.getElementsByClassName("dropdown-btn-other");
  var j;

  for (j = 0; j < dropdownOther.length; j++) {
      let temp = j;
      dropdownOther[j].addEventListener("click", function() {
          this.classList.toggle("active-item");

          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
              dropdownContent.style.display = "none";
          } else {
              dropdownContent.style.display = "block";
              for (let q = 0; q < dropdownOther.length; q++) {
                  if (q !== temp) {
                      let a = dropdownOther[q].nextElementSibling
                      let b = dropdownOther[q]
                      b.classList.remove('active-item')
                      a.style.display = 'none';

                  }
              }
          }
      });
  }

  $('.dropdown-container a, .topmenu li a').on('click', function (e) {
      e.preventDefault();
  })

  </script>
  <script type="text/javascript"><!--
      $('#add-edit-menu-tabs a:first').tab('show');
      $('#option a:first').tab('show');
  //--></script>
  <script type="text/javascript"><!--
      $('#add-edit-module-tabs a:first').tab('show');
      $('#option a:first').tab('show');
  //--></script>
  <script type="text/javascript"><!--
      $('#select-link-tabs a:first').tab('show');
      $('#option a:first').tab('show');
  //--></script>
  <script type="text/javascript"><!--
      $('#language a:first').tab('show');
      $('#option a:first').tab('show');
  //--></script>
</div>
{{ footer }}
