{{ header }}
<style>
  .sidenav {
    height: 100%;
    z-index: 1;
    margin-bottom: 80px;
  }

  .sidenav span, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    border: 1px solid #e3e3e3;
    margin: 5px;
    width: -webkit-fill-available;
  }

  .sidenav-other {
    height: 100%;
    width: 50%;
    z-index: 1;
    position: relative;
  }

  .sidenav-other span, .dropdown-btn-other {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    border: 1px solid #e3e3e3;
    margin: 5px;
    width: 290px;
  }

  .main {
    margin-left: 200px;
    font-size: 20px;
    padding: 0 10px;
  }

  .active {
    background-color: #EEEEEE;
  }

  .sidenav .dropdown-container {
    display: none;
    margin-left: 40px;
  }

  .sidenav-other .dropdown-container {
    display: none;
    position: absolute;
    left: 100%;
    border: 1px solid #e3e3e3;
    width: 97%;
    padding: 5px;
  }

  .sidenav-other .dropdown-container div {
    height: 70px;
    padding: 3px;
  }

  .sidenav-other .dropdown-container div a {
    color: black;
    border: 1px solid #e3e3e3;
    display: block;
    height: 100%;
    margin: 0;
  }

  <!-- ----------------- HORIZONTAL MENU -------------------------- -->

  .horizontal-menu {
    width: 100%;
    margin: 0 auto 30px;
  }
  .horizontal-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .topmenu {
    position: relative;
  }
  .topmenu > li {
    display: inline-block;
    position: static;
  }
  .topmenu > li:last-child {
    margin-right: 0;
  }
  .horizontal-menu a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    outline: none;
    transition: .5s linear;
  }
  .horizontal-menu .fa {
    color: inherit;
    padding-left: 10px;
  }
  .submenu {
    position: absolute;
    top: 115%;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    background-color: #e6e6e6;
  }
  .submenu > li > a {
    background-color: #fff;
    height: 100px;
  }
  .horizontal-menu .topmenu li {
    border: 1px solid #e3e3e3;
    padding: 0 60px;
  }
  .horizontal-menu ul a {
    color: #695753;
  }
  .horizontal-menu .submenu li {
    padding: 3px 7px;
    border: none;
  }

  .select-view-btn {
    bottom: 5%;
    position: absolute;
    left: 40%;
    padding: 6px 40px;
    background-color: #4DD9FF;
    color: white;
    border: none;
  }
</style>
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-menu_type">{{ entry_menu_type }}</label>
            <div class="col-sm-10">
              <select name="menu_type" id="input-menu_type" class="form-control">
                {% if menu_type %}
                  <option value="0">{{ text_horizontal }}</option>
                  <option value="1" selected="selected">{{ text_vertical }}</option>
                {% else %}
                  <option value="0" selected="selected">{{ text_horizontal }}</option>
                  <option value="1">{{ text_vertical }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-display_type">{{ entry_display_type }}</label>
            <div class="col-sm-10">
              <select name="display_type" id="input-display_type" class="form-control">
                {% if display_type %}
                  <option value="0">{{ text_onclick }}</option>
                  <option value="1" selected="selected">{{ text_onhover }}</option>
                {% else %}
                  <option value="0" selected="selected">{{ text_onclick }}</option>
                  <option value="1">{{ text_onhover }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-width">{{ entry_menu_view }}</label>

            <select name="type_menu" style="display: none" id="select-type_menu">
              <option value="0"></option>
              <option value="1"></option>
              <option value="2"></option>
            </select>

            <div id="horizontal_type_menu">
              <div class="col-sm-10">
                <div style="width: 100%; border: 1px solid #e3e3e3; height: 350px;">
                  <nav class="horizontal-menu">
                    <ul class="topmenu">
                      <li><a href="#">{{ text_main }}</a></li>
                      <li><a href="#">{{ text_product_catalog }} <i class="fa fa-angle-down"></i></a>
                        <ul class="submenu">
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="#">{{ text_link_classmates }}</a></li>
                      <li><a href="#">{{ text_articles }} <i class="fa fa-angle-down"></i></a>
                        <ul class="submenu">
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                          <li class="col-sm-3">
                            <a href="">
                              {{ text_inner_block }}
                              <br>
                              {{ help_menu_item }}
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li><a href="#">{{ text_contacts }}</a></li>
                    </ul>
                  </nav>
                  <button type="button" class="select-view-btn" id="select_horizontal_menu">{{ select_view }}</button>
                </div>
              </div>
            </div>


            <div id="vertical_type_menu" style="display: none;">
              <div class="col-sm-5">
                <div style="width: 100%; border: 1px solid #e3e3e3; min-height: 350px; height: 100%;">
                  <div class="sidenav">
                    <span>{{ text_main }}</span>
                    <button type="button" class="dropdown-btn">
                      {{ text_product_catalog }}
                      <i class="fa fa-caret-down pull-right"></i>
                    </button>
                    <div class="dropdown-container">
                      <span>{{ text_tools }}</span>
                      <span>{{ text_tea_products }}</span>
                    </div>
                    <span>{{ text_link_classmates }}</span>
                    <button type="button" class="dropdown-btn">
                      {{ text_articles }}
                      <i class="fa fa-caret-down pull-right"></i>
                    </button>
                    <div class="dropdown-container">
                      <span>{{ text_article_1 }}</span>
                      <span>{{ text_article_2 }}</span>
                      <span>{{ text_article_3 }}</span>
                    </div>
                    <span>{{ text_contacts }}</span>
                  </div>
                  <button type="button" class="select-view-btn" id="select_vertical_menu_1">{{ select_view }}</button>
                </div>
              </div>

              <div class="col-sm-5">
                <div style="width: 100%; border: 1px solid #e3e3e3; height: 350px;">
                  <div class="sidenav-other">
                    <span>{{ text_main }}</span>
                    <button type="button" class="dropdown-btn-other">
                      {{ text_product_catalog }}
                      <i class="fa fa-caret-right pull-right"></i>
                    </button>
                    <div class="dropdown-container" style="top: 42px;">
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                    </div>
                    <span>{{ text_link_classmates }}</span>
                    <button type="button" class="dropdown-btn-other">
                      {{ text_articles }}
                      <i class="fa fa-caret-right pull-right"></i>
                    </button>
                    <div class="dropdown-container" style="top: 84px;">
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                      <div class="col-sm-4">
                        <a href="#">{{ text_inner_block }}</a>
                      </div>
                    </div>
                    <span>{{ text_contacts }}</span>
                  </div>
                  <button type="button" class="select-view-btn" id="select_vertical_menu_2">{{ select_view }}</button>
                </div>
              </div>
            </div>

          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="selectedFirstTypeMenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ entry_menu_view }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ text_selected_type_menu_1 }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ button_close }}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="selectedSecondTypeMenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ entry_menu_view }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ text_selected_type_menu_2 }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ button_close }}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="selectedThirdTypeMenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ entry_menu_view }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ text_selected_type_menu_3 }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ button_close }}</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">

    $(".horizontal-menu li ul").hide(); // скрываем выпадающее меню
    /* отбираем элемент списка, который содержит элемент с классом .submenu и добавляем ему функцию при наведении, которая показывает и скрывает выпадающее меню */
    $(".horizontal-menu li:has('.submenu')").on('click', function(e){
        e.preventDefault();
        let submenus = $('.submenu');
        for (let t = 0; t < submenus.length; t++) {
            if($(this).find('ul.submenu')[0] !== submenus[t]) {
                submenus[t].style.display = 'none';
                submenus[t].parentNode.classList.remove('active')
            }
        }
        $(this).toggleClass('active')
        $(this).find('ul.submenu').toggle();

    });

    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }

    var dropdownOther = document.getElementsByClassName("dropdown-btn-other");
    var j;

    for (j = 0; j < dropdownOther.length; j++) {
        let temp = j;
        dropdownOther[j].addEventListener("click", function() {
            this.classList.toggle("active");

            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
                for (let q = 0; q < dropdownOther.length; q++) {
                    if (q !== temp) {
                        let a = dropdownOther[q].nextElementSibling
                        let b = dropdownOther[q]
                        b.classList.remove('active')
                        a.style.display = 'none';

                    }
                }
            }
        });
    }

    $('.dropdown-container a, .topmenu li a').on('click', function (e) {
        e.preventDefault();
    })

    $(document).ready(function () {
      if($('#input-menu_type').val() === '0') {
          $('#horizontal_type_menu').show();
          $('#vertical_type_menu').hide();
      } else {
          $('#horizontal_type_menu').hide();
          $('#vertical_type_menu').show();
      }

      $('#input-menu_type').on('change', function () {
        if($(this).val() === '0') {
          $('#horizontal_type_menu').show();
          $('#vertical_type_menu').hide();
        } else {
            $('#horizontal_type_menu').hide();
            $('#vertical_type_menu').show();
        }
      })

      $('#select_horizontal_menu').on('click', function () {
          $('select[name="type_menu"] option[value="0"]').prop('selected', 'selected')
          $('#selectedFirstTypeMenu').modal('show')
      })

      $('#select_vertical_menu_1').on('click', function () {
          $('select[name="type_menu"] option[value="1"]').prop('selected', 'selected')
          $('#selectedSecondTypeMenu').modal('show')
      })

      $('#select_vertical_menu_2').on('click', function () {
          $('select[name="type_menu"] option[value="2"]').prop('selected', 'selected')
          $('#selectedThirdTypeMenu').modal('show')
      })

})

  </script>
</div>
{{ footer }}
